@font-face {
    font-family: asghar;
    src: url(./../fonts/IRANYekan.woff);
}
@font-face {
    font-family: morad;
    src: url(./../fonts/IRANYekanX-Bold.woff2);
}
body {
    margin: 0;
    background-color: #f1f1f1;
    font-family: asghar;
}
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0.5em 0.7em 0 1.4em;
}
.login {
    background-color: #3fa87a;
    padding: 0.6em 1.2em;
    font-size: 1em;
    color: white;
    border-radius: 0.7em;
    margin: 0 0 0.4em 0;
}
#mySidenav a {
    position: fixed;
    left: -110px;
    transition: 0.7s;
    padding: 0.5em;
    width: 7em;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 0.5em 0.5em 0;
  }
  #mySidenav a:hover {
    left: 0;
  }
  #contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    top: 310px;
    background-color: #23203F
  }
  #imgSupportr{
    max-width: 30%;
    margin: 0.5em;
}
h3{
    font-family: asghar;
    margin: 0;
}
.content1 {
    display: flex;
    justify-content: center;
    position: relative;
    top: 1.2em;
    font-size: 2.3em;
    color: #23203F;
}
.content2 {
    display: flex;
    justify-content: center;
    position: relative;
    top: 0.9em;
    font-size: 3.6em;
    font-family: morad;
    color: #23203F;
}
.contents{
    /* border: 0.1em solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 13em 1em 0 1em;
    color: #23203F;
    font-family:morad ;
}
.contents1{
    padding: 4em;
    /* border: 0.1em solid red; */
}
.contents1 div{
    display: flex;
    flex-direction: column;
    /* border: 0.1em solid rgb(255, 0, 0); */
}
.contents2{
    padding: 4em;
    /* border: 0.1em solid red; */
}
.contents2 div{
    display: flex;
    flex-direction: column;
    /* border: 0.1em solid rgb(255, 0, 0); */

}
.contents3{
    padding: 4em;
    /* border: 0.1em solid red; */
}
.contents3 div{
    display: flex;
    flex-direction: column;
    /* border: 0.1em solid rgb(255, 0, 0); */

}
#contents4{
    padding: 4em;
    /* border: 0.1em solid red; */
}
#contents4 div{
    display: flex;
    flex-direction: column;
    /* border: 0.1em solid rgb(255, 0, 0); */
}
.img1{
    max-width: 40%;
    height: 51%;
    margin-left: 3.4em;
}
.img2{
    max-width: 40%;
    margin-left: 4em;
}
.img3{
    max-width: 38%;
    margin-left: 4.9em;
}
.img4{
    max-width: 50%;
    height: 49%;
    margin-left: 4em;
}
.contents :hover{
    border-radius: 2em;
    background-color: #6565EC;
}
.s{
    font-size: 1.5em;
    margin-top: 2em;
}
